<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.alfasdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name="com.softech.alfasdk.Application"
        android:networkSecurityConfig="@xml/network_security_xml"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.softech.alfasdk.WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:exported="true" />
        <activity
            android:name="com.softech.alfasdk.AccountOpeningActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name="com.softech.MenuActivity" />
        <activity android:name="com.softech.alfasdk.EmptyActivity" />
        <activity
            android:name="com.softech.alfasdk.MyLoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.softech.alfasdk.MyMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.softech.alfasdk.ChartsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>